@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-float {
    animation: floatIn 0.4s ease-out forwards;
}

.animate-float-1 {
    animation: floatIn 1s ease-out forwards;
}

.animate-float-2 {
    animation: floatIn 1.2s ease-out forwards;
}

.animate-float-delay1 {
    animation-delay: 0.2s;
}

.animate-float-delay2 {
    animation-delay: 0.4s;
}

.animate-float-delay3 {
    animation-delay: 0.7s;
}

.animate-spin {
    animation: spin 8s linear infinite;
}

.cd-wrapper {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cd-ring {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: linear-gradient( 135deg, #242321 0%, #464544 20%, #242321 40%, #302f2d 60%, #242321 80%, #302f2d 100%);
    box-shadow: 0 0 8px rgba(172, 172, 172, 0.4), inset 0 0 6px rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cd-art {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ccc;
}