.off-white {
    color: #F6F7F8
}

.beige {
    color: #EBE0D2
}

.beige-bg {
    background-color: #EBE0D2
}

.blue-1 {
    color: #6E9CD2
}

.blue-1-bg {
    background-color: #6E9CD2
}

.blue-2 {
    color: #5B89BF
}

.blue-2-bg {
    background-color: #5B89BF
}

.blue-3 {
    color: #2A6BB6
}

.blue-3-bg {
    background-color: #2A6BB6
}

.burgundy {
    color: #7F2025
}

.burgundy-bg {
    background-color: #7F2025
}

.white {
    color: #F6F7F8
}

.white-bg {
    background-color: #F6F7F8
}

.dark-gray {
    color: #38322F
}

.dark-gray-bg {
    background-color: #38322F
}

.text-gray {
    color: #706B64
}