.beige {
    color: #EBE0D2
}

.blue-1 {
    color: #6E9CD2
}

.blue-2 {
    color: #2A6BB6
}

.burgundy {
    color: #7F2025
}

.text-dark-gray {
    color: #38322F
}

.text-gray {
    color: #706B64
}